.aboutContainer {
    text-align: center;
    padding: 20px;
  }
  
  .lineBreak {
    width: 50px;
    border-top: 1px solid rgb(51, 41, 24);
    margin: 0 auto 20px; 
  }
  
  .aboutImage {
    max-width: 65%;
    height: auto;
  }
  
  .aboutTitle {
    font-family: "Cinzel", serif;
    color: rgb(51, 41, 24);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
  }
  
  .aboutText {
    font-size: 1.2em; 
    line-height: 1.6;
    text-align: left;
    margin: auto;
    max-width: 800px; 
  }
  