.headerContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(240, 234, 214);
    padding: 5px;
    font-family: "Cinzel", serif;
}

.title {
    font-size: 36px;
    color: rgb(51, 41, 24);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 0px;
}

.location {
    font-size: 18px;
    font-weight: bold;
    color: rgb(51, 41, 24);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin: 0;
    margin-bottom: 15px;
}

.titleAndLocation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
    flex-grow: 1;
}


.rightSection {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.weather {
    display: flex;
    align-items: center;
}

.weatherImg {
    height: 30px;
    width: auto;
}

.temperature {
    margin-left: 5px;
    margin-right: 10px;
    font-size: 20px;
}

.weatherText {
    font-size: 18px;
    font-weight: bold;
    color: rgb(51, 41, 24);
    margin-right: 5px;
}

.currentTime {
    font-size: 18px;
    margin-right: 5px;
}

.email {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: rgb(33, 51, 10);
    padding-bottom: 5px;
    margin-right: 5px;
}

.navLinks {
    display: flex;
    justify-content: flex-end;
    width: 85%;
}

.navLink {
    color: rgb(102, 51, 0);
    text-decoration: none;
    margin-right: 5px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 15px;
}

.navLink:hover {
    color: rgb(181, 101, 29);
}

.logo {
    max-height: 130px;
    width: auto;
    margin-left: 5px;
}

.mobileNav {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: rgb(240, 234, 214);
    border: 1px solid rgb(102, 51, 0);
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 10;
    height: 250px;
  }
  
  .mobileNavOpen {
    transform: translateX(0%);
  }

  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    color: rgb(102, 51, 0);
    cursor: pointer;
  }
  
  .closeButton:focus {
    outline: none;
  }
  

.infoBar {
    background-color: darkgreen;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

@media screen and (max-width: 991px) {
    .headerContainer {
        flex-direction: column;
        align-items: center;
    }

    .mobileMenuIcon {
        display: block;
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .titleAndLocation {
        align-items: center;
        margin-left: 0;
    }

    .rightSection {
        display: none;
    }

    .navLinks {
        display: none;
    }

    .infoBar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: darkgreen;
        color: white;
        padding: 5px;
        font-size: 16px;
    }
}

@media screen and (min-width: 992px) {
    .mobileMenuIcon {
        display: none;
    }

    .mobileNavLinks {
        display: none;
    }

    .infoBar {
        display: none;
    }
}

@media (max-width: 991px) {

    .infoBar .email,
    .infoBar .weatherText,
    .infoBar .temperature,
    .infoBar .currentTime {
        color: white;
    }

    .infoBar .weatherText,
    .infoBar .temperature,
    .infoBar .currentTime {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .infoBar .email {
        font-size: 16px;
        margin-left: 10px;
    }
}

@media (max-width: 723px) {

    .infoBar .email,
    .infoBar .weatherText,
    .infoBar .temperature,
    .infoBar .currentTime {
        color: white;
    }

    .infoBar .weatherText,
    .infoBar .temperature,
    .infoBar .currentTime {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .infoBar .email {
        font-size: 14px;
        margin-left: 5px;
    }
}

@media (max-width: 497px) {

    .infoBar .email,
    .infoBar .weatherText,
    .infoBar .temperature,
    .infoBar .currentTime {
        color: white;
    }

    .infoBar .weatherText,
    .infoBar .temperature,
    .infoBar .currentTime {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .infoBar .email {
        font-size: 10px;
    }
}