.imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1250px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    border-bottom: 1px solid black;
  }
  
  .title {
    color: white;
    font-size: 3em;
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  }
  
  .button {
    display: inline-block;
    margin-top: 1em;
    padding: 0.5em 1em;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: 2px solid brown;
    border-radius: 5px;
    z-index: 1;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  @media screen and (min-width: 3000px) {
    .imageContainer {
      height: 1250px; 
    }
  }

  @media screen and (max-width: 1920px) {
    .imageContainer {
      height: 800px; 
    }
  }

  @media screen and (max-width: 1200px) {
    .imageContainer {
      height: 800px; 
    }
  }

  @media screen and (max-width: 768px) {
    .imageContainer {
      height: 400px;
    }
    
    .title {
      font-size: 2em;
    }
    
    .button {
      font-size: 0.8em;
    }
  }

  @media screen and (max-width: 515px) {
    .imageContainer {
      height: 300px;
    }
    
    .title {
      font-size: 1.25em;
    }
    
    .button {
      font-size: 0.8em;
    }
  }
  