.gallery {
    padding: 20px;
    text-align: center;
  }
  
  .title {
    font-family: 'Cinzel', serif;
    color: rgb(51, 41, 24);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .imageGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .imageContainer {
    width: 341px;
    height: 276px;
    overflow: hidden;
    margin: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    max-width: 100%;
    transition: transform 0.5s ease;
  }
  
  .image:hover {
    transform: scale(1.1);
  }
  