.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(17, 40, 2);
    font-family: "Cinzel", serif;
    height: 50px; 
  }
  
  .navLink {
    color: rgb(245, 247, 243);
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: bold;
  }
  
  .navLink:hover {
    color: rgb(200, 220, 180);
  }
  