.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    background: white;
    position: relative;
    padding-bottom: 30px;
}

.withDivider::before,
.withDivider::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 5px;
  background: brown;
}

.withDivider::before {
    top: 0;
    margin-top: 30px;
  }
  
  .withDivider::after {
    bottom: 0;
  }

.image {
    width: 50%;
    padding: 20px;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.text {
    font-size: 1rem;
}



@media screen and (max-width: 768px) { 
    .title {
      font-size: 24px; 
    }
    
    .text {
      font-size: 16px; 
    }
  }
  