.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    background: white;
    position: relative;
    padding-bottom: 30px;
}

.withDivider::before,
.withDivider::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 2px;
  background: brown;
}

.withDivider::before {
    top: 0;
    margin-top: 30px;
  }
  
  .withDivider::after {
    bottom: 0;
  }

.image {
    width: 50%;
    height: 500px;
    padding: 20px;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'Cinzel', serif;
    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text {
    font-size: 1rem;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 1520px) { 
  .title {
    font-size: 24px; 
    margin-left: 20px;
  }
  
  .text {
    font-size: 16px; 
    margin-left: 20px;
    margin-right: 20px;
  }

  .image {
    width: 50%;
    height: 300px;
    padding: 20px;
}

}

@media screen and (max-width: 904px) { 
  .title {
    font-size: 20px; 
    margin-left: 20px;
  }
  
  .text {
    font-size: 14px; 
    margin-left: 20px;
    margin-right: 20px;
  }

  .image {
    width: 50%;
    height: 200px;
    padding: 20px;
}

}

@media screen and (max-width: 684px) { 
  .title {
    font-size: 18px; 
    margin-left: 20px;
  }
  
  .text {
    font-size: 13px; 
    margin-left: 20px;
    margin-right: 20px;
  }

  .image {
    width: 50%;
    height: 200px;
    padding: 20px;
}

  }

  @media screen and (max-width: 596px) { 
    .section {
      flex-direction: column;
    }

    .title {
      font-size: 16px; 
      margin-left: 20px;
      text-align: center;
    }
    
    .text {
      font-size: 13px; 
      margin-left: 20px;
      margin-right: 20px;
      text-align: center;
    }
  
    .image {
      width: 75%;
      height: 100%;
      padding: 20px;
      order: 2;
  }
  
    }
  